    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="list-group list-group-flush">
        <a href="/" class="list-group-item list-group-item-action bg-light"> <span class="fa fa-home mr-3"></span>Home</a>
        <a href="{{ route('user.account') }}" class="list-group-item list-group-item-action bg-light"><span class="fa fa-user mr-3"></span>Profile</a>
		<a href="{{ route('user.friends') }}" class="list-group-item list-group-item-action bg-light"><i class="fas fa-user-friends mr-3"></i></span>Miqte</a>
        <a href="{{ route('users') }}" class="list-group-item list-group-item-action bg-light"><span class="fa fa-users mr-3"></span>Perdoruesit</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->